
<table>
        <tr>
            <th><img src="../../../assets/Images/img1.jpg" style="width: 85px;height: 35px;"></th>
            <th class="first">Национальное Агентство Контроля Сварки Саморегулируемая организация СРО Ассоциация «НАКС»</th>
            <th class="first" rowspan="2">ЛККС-УК-А</th>
        </tr>

        <tr>
            <th><img src="../../../assets/Images/img2.jpg" style="width: 85px;height: 35px;"></th>
            <th class="first">Общество с ограниченной ответственностью Аттестационный и сертификационный центр «Инженерный и технологический сервис сварочного производства» ООО АСЦ «ИТС СвП»</th>
        </tr>
</table>

<table>
        <tr>
            <th class="first">Лаборатория контроля качества сварки (ЛККС)</th>
            <th class="first">Свидетельство об аттестации ЛНК № 27А0202038 действует до 12 апреля 2022 г.</th>
        </tr>
        <tr>
            <th class="first">Акт контроля качества сварных соединений ультразвуковым методом </th>
            <th class="table1">{{nomeprotokola}}</th>
        </tr>
</table>

<table>
        <tr>
            <th class="first" colspan="8">Данные контролируемого объекта</th>
        </tr>
        <tr>
            <th class="first">Заказчик</th>
            <th colspan="2" class="table1">{{zakazchik}}</th>
            <th class="first" colspan="2">Наименование ТУ ОПО:</th>
            <th colspan="3" class="table1">{{tuopo}}</th>
        </tr>
        <tr>
            <th class="first">№ Программы:</th>
            <th class="table1">{{programa}}</th>
            <th class="first">Способ сварки:</th>
            <th class="table1">{{Sposob}}</th>
            <th class="first">ФИО сварщика</th>
            <th class="table1">{{fio}}</th>
            <th class="first">Клеймо</th>
            <th class="table1">{{klemo}}</th>
        </tr>
</table>

<table>
        <tr>
            <th class="first" colspan="4">Условия проведения контроля</th>
        </tr>
        <tr>
            <th class="first">Методикаконтроля:</th>
            <th colspan="3" class="first">ГОСТ Р 55724-2013</th>
        </tr>
        <tr>
            <th class="first">Оборудование:</th>
            <th class="first">УИУ «Сканер+»(«Скаруч») </th>
            <th class="first">Свидетельство о поверке (№ срок действия)</th>
            <th class="first">№ПА-2513 до 07.02.2020</th>
        </tr>
</table>

<table>
        <tr>
            <th class="first" colspan="4">Установленные требования</th>
        </tr>
        <tr>
            <th class="first">Применяемый стандарт:</th>
            <th class="table1">{{Normativnidokyment1}}</th>
            <th class="table1">{{Normativnidokyment2}}</th>
            <th class="table1">{{Normativnidokyment3}}</th>
        </tr>
        <tr>
            <th class="first">Критерии приёмки:</th>
            <th class="table1">Пример13</th>
            <th class="table1">Пример14</th>
            <th class="table1">Пример15</th>
        </tr>
</table>

<table>
        <tr>
            <th class="first" colspan="12">Результаты контроля</th>
        </tr>
        <tr>
            <th class="first" rowspan="2">№ п/п</th>
            <th class="first" rowspan="2">Идентификатор, клеймо КСС</th>
            <th class="first" rowspan="2">Дата сварки КСС</th>
            <th class="first" rowspan="2">Дата контроля КСС</th>
            <th class="first" rowspan="2">Вид, типоразмер свариваемых деталей</th>
            <th class="first" rowspan="2">Марка основного материала</th>
            <th class="first" rowspan="2">ПЭП (тип, частота, угол ввода)</th>
            <th class="first" rowspan="2">Экв. площ. деф.</th>
            <th class="first" rowspan="2">Описание обнаруженных дефектов</th>
            <th class="first" colspan="3">Оценка качества по НД(годен / не годен)</th> 
        </tr>
        <tr>
            <th class="table1">{{Normativnidokyment1}}</th>
            <th class="table1">{{Normativnidokyment2}}</th>
            <th class="table1">{{Normativnidokyment3}}</th>
        </tr>
        <tr>
            <th class="table1">Пример19</th>
            <th class="table1">Пример20</th>
            <th class="table1">Пример21</th>
            <th class="table1">Пример22</th>
            <th class="table1">Пример23</th>
            <th class="table1">Пример24</th>
            <th class="table1">Пример25</th>
            <th class="table1">Пример26</th>
            <th class="table1">Пример27</th>
            <th class="table1">Пример28</th>
            <th class="table1">Пример39</th>
            <th class="table1">Пример43</th>
         </tr>
         <tr>
            <th class="table1">Пример29</th>
            <th class="table1">Пример30</th>
            <th class="table1">Пример31</th>
            <th class="table1">Пример32</th>
            <th class="table1">Пример33</th>
            <th class="table1">Пример34</th>
            <th class="table1">Пример35</th>
            <th class="table1">Пример36</th>
            <th class="table1">Пример37</th>
            <th class="table1">Пример38</th>
            <th class="table1">Пример41</th>
            <th class="table1">Пример42</th>
         </tr>
</table>
<p></p>
<table>
        <tr>
            <th class="table3">Контроль выполнил:</th>
            <th class="table4">{{kontrolprovel}}</th>
            <th class="table4">Пример40</th>
            <th class="table3">_________</th>
            <th class="table4">{{datakontrola}}</th>
        </tr>
        <tr>
            <th class="table3"></th>
            <th class="table5">ФИО</th>
            <th class="table5">№ уд. срок действия</th>
            <th class="table5">Подпись</th>
            <th class="table5">Дата</th>
        </tr>
        <tr>
            <th class="table3">Начальник лаборатории:</th>
            <th class="table3">Кадников Д. И.</th>
            <th class="table3">АЦСНК-1-III-00005</th>
            <th class="table3">_________</th>
            <th class="table4">{{datakontrola}}</th>
        </tr>
        <tr>
            <th class="table3"></th>
            <th class="table5">ФИО</th>
            <th class="table5">№ уд. срок действия</th>
            <th class="table5">Подпись</th>
            <th class="table5">Дата</th>
        </tr>
</table>

<p></p>

<button onclick="document.location='/technologyyk'">Назад</button>

        <a href="#" download="">
         <button>скачать</button>
        </a>
        <input type="button" value="Печать" onclick="window.print()" />