
<p>Методикаконтроля:
    <select name="НормативныйДокумент"
                  [(ngModel)]="Normativnidokyment1" (ngModelChange)="test()">
        <option value="СТО Газпром 2-2.4-083-2006">СТО Газпром 2-2.4-083-2006 </option>
        <option value="РД 34.10.130-96">РД 34.10.130-96</option>
        <option value="ГОСТ 23479-79">ГОСТ 23479-79</option>
        <option value="-">-</option>
        </select>

    <select name="НормативныйДокумент2"
                  [(ngModel)]="Normativnidokyment2" (ngModelChange)="test()">
    <option value="СТО Газпром 2-2.4-083-2006">СТО Газпром 2-2.4-083-2006 </option>
    <option value="РД 34.10.130-96">РД 34.10.130-96</option>
    <option value="ГОСТ 23479-79">ГОСТ 23479-79</option>
    <option value="-">-</option>
    </select>

    <select name="НормативныйДокумент3"
                  [(ngModel)]="Normativnidokyment3" (ngModelChange)="test()">
    <option value="СТО Газпром 2-2.4-083-2006">СТО Газпром 2-2.4-083-2006 </option>
    <option value="РД 34.10.130-96">РД 34.10.130-96</option>
    <option value="ГОСТ 23479-79">ГОСТ 23479-79</option>
    <option value="-">-</option>
    </select>
</p>
<div>
    <div>

          <p>
            Дата контроля: <input type="text" id="datakontrola" placeholder="Дата Контроля"
                     [(ngModel)]="datakontrola" (ngModelChange)="test()">
          </p>
            <p>Контроль провел:
            <select name="КонтрольПроивел" 
                      [(ngModel)]="kontrolprovel" (ngModelChange)="test()">
            <option value="Лозинский М. И.">Лозинский М. И.</option>
            <option value="Кадников Д. И.">Кадников Д. И.</option>
            <option value="Кислицкий С. И.">Кислицкий С. И.</option>
            <option value="Федоров Д. П.">Федоров Д. П.</option>
            </select>
            </p>

            <p></p>
            
            <div>
                Количество Протоколов:
              <select name="КоличествоПротоколов">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              </select>
              <button>Ввод</button>
              </div>

              <table>
                     <tr>
                        <th>№ Протокола</th>
                        <th>ФИО</th>
                        <th>Клеймо</th>
                        <th>Идентификатор</th>
                        <th>Количество идентификаторов
                            <select name="Количество идентификаторов">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">4</option>
                            <option value="5">5</option>
                            </select>
                            <button>Ввод</button></th>
                     </tr>
        
                     <tr>
                        <th><input type="text" class="class2" id="nomeprotokola" placeholder="Протокол" 
                            [(ngModel)]="nomeprotokola" (ngModelChange)="test()"></th> 
                        <th><input type="text"class="class2" id="fio" placeholder="ФИО"
                            [(ngModel)]="fio" (ngModelChange)="test()"></th>   
                        <th><input type="text"class="class2" id="klemo" placeholder="Клеймо"
                            [(ngModel)]="klemo" (ngModelChange)="test()"></th>
                        <th><input type="text"class="class2" id="nomeprotokola" placeholder="Протокол"></th> 
                        
                     </tr>
                
                </table>








    <div>

<p></p>

</div>

    </div>
    <button onclick="document.location='/technology'">Назад</button>
    <button onclick="document.location='/technologyvikdata'">Готово</button>
    </div>