
<p>Методикаконтроля:
    <select name="НормативныйДокумент1"
                  [(ngModel)]="Normativnidokyment1" (ngModelChange)="test()">
        <option value="СТО Газпром 2-2.4-083-2006">СТО Газпром 2-2.4-083-2006 </option>
        <option value="РД 34.10.130-96">РД 34.10.130-96</option>
        <option value="ГОСТ 23479-79">ГОСТ 23479-79</option>
        <option value="-">-</option>
        </select>

    <select name="НормативныйДокумент2"
                  [(ngModel)]="Normativnidokyment2" (ngModelChange)="test()">
    <option value="СТО Газпром 2-2.4-083-2006">СТО Газпром 2-2.4-083-2006 </option>
    <option value="РД 34.10.130-96">РД 34.10.130-96</option>
    <option value="ГОСТ 23479-79">ГОСТ 23479-79</option>
    <option value="-">-</option>
    </select>

    <select name="НормативныйДокумент3"
                  [(ngModel)]="Normativnidokyment3" (ngModelChange)="test()">
    <option value="СТО Газпром 2-2.4-083-2006">СТО Газпром 2-2.4-083-2006 </option>
    <option value="РД 34.10.130-96">РД 34.10.130-96</option>
    <option value="ГОСТ 23479-79">ГОСТ 23479-79</option>
    <option value="-">-</option>
    </select>

</p>
<div>
    <div>
            <p>Контроль провел:
            <select name="КонтрольПроивел" 
                      [(ngModel)]="kontrolprovel" (ngModelChange)="test()">
            <option value="Лозинский М. И.">Лозинский М. И.</option>
            <option value="Кадников Д. И.">Кадников Д. И.</option>
            <option value="Кислицкий С. И.">Кислицкий С. И.</option>
            <option value="Федоров Д. П.">Федоров Д. П.</option>
            </select>
            </p>

            <p></p>
            
            <div>
                Количество Протоколов:
                <select name="kolichestvoprotokolov"id="kolichestvoprotokolov"
                [(ngModel)]="kolichestvoprotokolov" (ngModelChange)="test3()">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              </select>
              </div>
              
              <table>
                     <tr>
                        <th>№ Протокола</th>
                        <th>Дата контроля</th>
                        <th>ФИО</th>
                        <th>Клеймо</th>
                        <th>Идентификатор</th>
                        
                     </tr>
        
                     <tr *ngFor ="let item of items; let i = index">
                        <th><input type="text" class="class2" id="nomeprotokola" placeholder="Протокол" 
                            [(ngModel)]="nomeprotokola[i]" (ngModelChange)="test()"></th> 
                        
                            <input type="text" class="class2" id="datakontrola" placeholder="Дата Контроля"
                            [(ngModel)]="datakontrola[i]" (ngModelChange)="test()">   
                        
                            <th><input type="text"class="class2" id="fio" placeholder="ФИО"
                            [(ngModel)]="fio[i]" (ngModelChange)="test()"></th>   
                        
                            <th><input type="text"class="class2" id="klemo" placeholder="Клеймо"
                            [(ngModel)]="klemo[i]" (ngModelChange)="test()"></th>
                        
                            <th><select name="kolichestvoindentifikatorov"
                                [(ngModel)]="nomerindentifikatora[i]" (ngModelChange)="test4()"
                                *ngFor ="let item2 of items2; let i = index">
                                <option>{{items2}}</option>
                            </select></th> 

                            <th>Количество идентификаторов
                            <select name="kolichestvoindentifikatorov"
                            [(ngModel)]="kolichestvoindentifikatorov[i]" (ngModelChange)="test4()">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            </select>
                        </th>
                     </tr>
                
                </table>

    <div>

<p></p>

</div>

    </div>
    <button onclick="document.location='/technology'">Назад</button>
    <button onclick="document.location='/technologyvikdata'">Готово</button>
    </div>
