<button onclick="document.location='/main'">Главная страница</button>


<div class="max">
    <p>
        Заказчик: <input type="text" id="zakazchik" placeholder="Заказчик"
                         [(ngModel)]="zakazchik" (ngModelChange)="test()">

        ТУ ОПО: <input type="text" id="tuopo" placeholder="ТУ ОПО"
                         [(ngModel)]="tuopo" (ngModelChange)="test()">
    </p>
            <p>
                 # Программы: <input type="text" id="programa" placeholder="Программа"
                         [(ngModel)]="programa" (ngModelChange)="test()">

                 Способ сварки: <select name="Способ сварки"
                         [(ngModel)]="Sposob" (ngModelChange)="test()">
                 <option value="РД">РД</option>
                 <option value="РАД">РАД</option>
                 <option value="МП+МПИ">МП+МПИ</option>
                 <option value="МАДП">МАДП</option>
                 <option value="АПГ">АПГ</option>
                 <option value="АФ">АФ</option>
                 <option value="МПС">МПС</option>
                 <option value="МПГ">МПГ</option>
                 </select>
            </p>

            <p>Дата сварки: <input type="date" id="datasvarki" placeholder="Дата Сварки"
                    [(ngModel)]="datasvarki" (ngModelChange)="test()">
            </p>

            <div>
                Количество идентификаторов:
              <select name="kolichestvoindentifikatorov"id="kolichestvoindentifikatorov"
                 [(ngModel)]="kolichestvoindentifikatorov" (ngModelChange)="test2()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
              </select>
              </div>


              <p></p>
              
                 <div>

                         <table>
                        <tr>
                                <th>№ п/п</th>
                                <th>Идентификатор, клеймо КСС</th>
                                <th>Диаметр трубы/листа</th>
                                <th>Толщина</th>
                                <th>Вид, типоразмер свариваемых деталей</th>
                                <th>Марка основного материала</th>
                        </tr>
                
                        <tr *ngFor ="let item of items; let i = index">
                                <th>{{i+1}}</th> 
                                <th><input type="text"class="class1" id="identifikator" placeholder="Идентификатор"
                                        [(ngModel)]="identifikator[i]" (ngModelChange)="test()"></th>   
                                <th><select name="Диаметр/лист"
                                        [(ngModel)]="diametrlist[i]" (ngModelChange)="test()">
                                        <optgroup label="Лист"></optgroup>
                                        <option value="4,0 мм x &nbsp;">4,0 мм</option>
                                        <option value="6,0 мм x &nbsp;">6,0 мм</option>
                                        <option value="8,0 мм x &nbsp;">8,0 мм</option>
                                        <option value="10,0 мм x &nbsp;">10,0 мм</option>
                                        <optgroup label="Труба"></optgroup>
                                        <option value="&Oslash; 57,0 мм x &nbsp;">&Oslash; 57,0 мм</option>
                                        <option value="&Oslash; 159,0 мм х &nbsp;">&Oslash; 159,0 мм</option>
                                        <option value="&Oslash; 256,0 мм х &nbsp;">&Oslash; 256,0 мм</option>
                                        <option value="&Oslash; 512,0 мм х &nbsp;">&Oslash; 512,0 мм</option>
                                        </select></th>
                                <th><select name="Толщина" 
                                        [(ngModel)]="tolshina[i]" (ngModelChange)="test()">
                                        <option value="4,0 мм">4,0 мм</option>
                                        <option value="6,0 мм">6,0 мм</option>
                                        <option value="8,0 мм">8,0 мм</option>
                                        <option value="10,0 мм">10,0 мм</option>
                                        </select></th> 
                                <th><select name="ТипСоединения" [(ngModel)]="tipsoedinenia[i]" (ngModelChange)="test()">
                                         <option value="Л+Л,&nbsp;">Л+Л</option>
                                         <option value="Л+Л,&nbsp;СШ,&nbsp;">Л+Л,СШ</option>
                                         <option value="Т+Т,&nbsp;">Т+Т</option>
                                         <option value="Т+Т,&nbsp;УШ,&nbsp;">Т+Т,УШ</option>
                                         <option value="Т+Т,&nbsp;Н,&nbsp;">Т+Т,Н</option>
                                         <option value="Т+Л,&nbsp;">Л+Т</option>
                                         <option value="Т+Л,&nbsp;">Т+Л</option>
                                         </select></th> 
                                <th><select name="МаркаОсновногоМетала"
                                        [(ngModel)]="markaosnovnogometala[i]" (ngModelChange)="test()">
                                         <option value="09Г2С">09Г2С</option>
                                         <option value="12Х18Н10Т">12Х18Н10Т</option>
                                         <option value="Стп3">Стп3</option>
                                         <option value="Сталь20">Сталь20</option>
                                         </select></th>
                                <div class="checkbox">
                                <input type="checkbox">ВИК
                                <input type="checkbox">УК 
                                <input type="checkbox">РК 
                                <input type="checkbox">МК
                                <input type="checkbox">ПВК 
                                <input type="checkbox">Растяжение
                                <input type="checkbox">Изгиб
                                <input type="checkbox">Сплющивание
                                <input type="checkbox">Удар
                                <input type="checkbox">Твердость
                                <input type="checkbox">Макрошлиф
                                </div>
                        </tr>
                        
                          </table>
                
                   </div> 
                
                
 <p></p> 

     <button onclick="document.location='/technologyvik'">ВИК</button>
     <button onclick="document.location='/technologyyk'">УК</button>
     <button onclick="document.location='/technologypk'">РК</button>
     <button onclick="document.location='/technologyrk'">МК</button>
     <button onclick="document.location='/technologyrk'">ПВК</button>
     <div>
        <button onclick="document.location='/technologyrk'">Растяжение</button>
        <button onclick="document.location='/technologyrk'">Изгиб</button>
        <button onclick="document.location='/technologyrk'">Сплющивание</button>
        <button onclick="document.location='/technologyrk'">Удар</button>
        <button onclick="document.location='/technologyrk'">Твердость</button>
        <button onclick="document.location='/technologyrk'">Макрошлиф</button>
     </div>
<!--     <button (click)="test()">ПВК</button>-->
</div>

