<button onclick="document.location='/main'">Главная страница</button>


<div class="max">
    ФИО сварщика: <input type="text" id="fio" placeholder="ФИО"
                         [(ngModel)]="fio" (ngModelChange)="test()">

    Клеймо сварщика: <input type="text" id="klemo" placeholder="Клеймо"
                         [(ngModel)]="klemo" (ngModelChange)="test()">
    <p>
        Заказчик: <input type="text" id="zakazchik" placeholder="Заказчик"
                         [(ngModel)]="zakazchik" (ngModelChange)="test()">

        ТУ ОПО: <input type="text" id="tuopo" placeholder="ТУ ОПО"
                         [(ngModel)]="tuopo" (ngModelChange)="test()">
    </p>
            <p>
                 # Программы: <input type="text" id="programa" placeholder="Программа"
                         [(ngModel)]="programa" (ngModelChange)="test()">

                 Способ сварки: <select name="Способ сварки"
                         [(ngModel)]="Sposob" (ngModelChange)="test()">
                 <option value="РД">РД</option>
                 <option value="РАД">РАД</option>
                 <option value="МП+МПИ">МП+МПИ</option>
                 <option value="МАДП">МАДП</option>
                 <option value="АПГ">АПГ</option>
                 <option value="АФ">АФ</option>
                 <option value="МПС">МПС</option>
                 <option value="МПГ">МПГ</option>
                 </select>
            </p>
     <button onclick="document.location='/technologyvik'">ВИК</button>
     <button onclick="document.location='/technologyyk'">УК</button>
     <button onclick="document.location='/technologyrk'">РК</button>
     <button onclick="document.location='/technologyrk'">МК</button>
     <button onclick="document.location='/technologyrk'">ПВК</button>
     <div>
        <button onclick="document.location='/technologyrk'">Растяжение</button>
        <button onclick="document.location='/technologyrk'">Изгиб</button>
        <button onclick="document.location='/technologyrk'">Сплющивание</button>
        <button onclick="document.location='/technologyrk'">Удар</button>
        <button onclick="document.location='/technologyrk'">Твердость</button>
        <button onclick="document.location='/technologyrk'">Макрошлиф</button>
     </div>
<!--     <button (click)="test()">ПВК</button>-->
</div>
