<button onclick="document.location='/main'">Главная страница</button>


<div class="max">
    ФИО сварщика: <input type="text" id="fio" placeholder="ФИО"
                         [(ngModel)]="fio" (ngModelChange)="test()">

    Клеймо сварщика: <input type="text" id="klemo" placeholder="Клеймо"
                         [(ngModel)]="klemo" (ngModelChange)="test()">
    <p>
        Заказчик: <input type="text" id="zakazchik" placeholder="Заказчик"
                         [(ngModel)]="zakazchik" (ngModelChange)="test()">

        ТУ ОПО: <input type="text" id="tuopo" placeholder="ТУ ОПО"
                         [(ngModel)]="tuopo" (ngModelChange)="test()">
    </p>
            <p>
                 # Программы: <input type="text" id="programa" placeholder="Программа"
                         [(ngModel)]="programa" (ngModelChange)="test()">

                 Способ сварки: <select name="Способ сварки"
                         [(ngModel)]="Sposob" (ngModelChange)="test()">
                 <option value="f1">РД</option>
                 <option value="f2">РАД</option>
                 <option value="f3">МП+МПИ</option>
                 <option value="f4">МАДП</option>
                 <option value="f5">АПГ</option>
                 <option value="f6">АФ</option>
                 <option value="f7">МПС</option>
                 <option value="f8">МПГ</option>
                 </select>
            </p>
     <button onclick="document.location='/technologyvik'">ВИК</button>
     <button onclick="document.location='/technologyyk'">УК</button>
     <button onclick="document.location='/technologyrk'">РК</button>
<!--     <button (click)="test()">ПВК</button>-->
</div>
