
<table>
        <tr>
            <th class="first">Картинка</th>
            <th class="first">Национальное Агентство Контроля Сварки Саморегулируемая организация СРО Ассоциация «НАКС»</th>
            <th class="first" rowspan="2">ЛККС-СтИ-А</th>
        </tr>

        <tr>
            <th class="first">Картинка2</th>
            <th class="first">Общество с ограниченной ответственностью Аттестационный и сертификационный центр «Инженерный и технологический сервис сварочного производства» ООО АСЦ «ИТС СвП»</th>
        </tr>
</table>

<table>
        <tr>
            <th class="first">Лаборатория контроля качества сварки (ЛККС)</th>
            <th class="first">Свидетельство об аттестации ЛНК № 27А0202038 действует до 12 апреля 2022 г.</th>
        </tr>
        <tr>
            <th class="first">Акт контроля качества сварных соединений визуальным и измерительным методами </th>
            <th>Пример</th>
        </tr>
</table>

<table>
        <tr>
            <th class="first" colspan="8">Данные контролируемого объекта</th>
        </tr>
        <tr>
            <th class="first">Заказчик</th>
            <th colspan="2">Пример</th>
            <th class="first" colspan="2">Наименование ТУ ОПО:</th>
            <th colspan="3">Пример</th>
        </tr>
        <tr>
            <th class="first">№ Программы:</th>
            <th>Пример</th>
            <th class="first">Способ сварки:</th>
            <th>Пример</th>
            <th class="first">ФИО сварщика</th>
            <th>Пример</th>
            <th class="first">Клеймо:</th>
            <th>Пример</th>
        </tr>
</table>

<table>
        <tr>
            <th class="first" colspan="4">Условия проведения контроля</th>
        </tr>
        <tr>
            <th class="first">Методикаконтроля:</th>
            <th colspan="3">Пример</th>
        </tr>
        <tr>
            <th class="first">Оборудование:</th>
            <th>Пример</th>
            <th class="first">Свидетельство о поверке (№ срок действия)</th>
            <th>Пример</th>
        </tr>
</table>

<table>
        <tr>
            <th class="first" colspan="4">Установленные требования</th>
        </tr>
        <tr>
            <th class="first">Применяемый стандарт:</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
        </tr>
        <tr>
            <th class="first">Критерии приёмки:</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
        </tr>
</table>

<table>
        <tr>
            <th class="first" colspan="11">Результаты контроля</th>
        </tr>
        <tr>
            <th class="first" rowspan="2">№ п/п</th>
            <th class="first" rowspan="2">Идентификатор, клеймо КСС</th>
            <th class="first" rowspan="2">Дата сварки КСС</th>
            <th class="first" rowspan="2">Дата контроля КСС</th>
            <th class="first" rowspan="2">Вид, типоразмер свариваемых деталей</th>
            <th class="first" rowspan="2">Марка основного материала</th>
            <th class="first" rowspan="2">Описание обнаруженных дефектов</th>
            <th class="first" colspan="3">Оценка качества по НД(годен / не годен)</th> 
        </tr>
        <tr>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
        </tr>
</table>

<table>
        <tr>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
         </tr>
         <tr>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
            <th>Пример</th>
         </tr>
</table>

<table>
        <tr>
            <th class="first">Контроль выполнил:</th>
            <th>Пример</th>
            <th>Пример</th>
            <th class="first">_________</th>
            <th>Пример</th>
        </tr>
        <tr>
            <th class="first"></th>
            <th class="first">ФИО</th>
            <th class="first">№ уд. срок действия</th>
            <th class="first">Подпись</th>
            <th class="first">Дата</th>
        </tr>
        <tr>
            <th class="first">Начальник лаборатории:</th>
            <th class="first">Кадников Д. И.</th>
            <th class="first">АЦСНК-1-III-00005</th>
            <th class="first">_________</th>
            <th>Пример</th>
        </tr>
        <tr>
            <th class="first"></th>
            <th class="first">ФИО</th>
            <th class="first">№ уд. срок действия</th>
            <th class="first">Подпись</th>
            <th class="first">Дата</th>
        </tr>
</table>


<button onclick="document.location='/technologyvik'">Назад</button>



        <a href="#" download="">
         <button>скачать</button>
        </a>
