table {
    border: solid 2px;
}
th {
    border: solid 1px;
    color:  red;
    font-size: 8px;
    font-family: arial;
    font-weight: normal
    
}
.first{
    font-size: 11px;
    color: rgb(0, 0, 0);
    font-family: arial;
    font-weight: bold;
    
}
.rrr{
    font-size: 50px;
}